<div class="body-section">
<% @venues.each do |venue| %>
	<h1><%= link_to venue.name, venue_path(venue.id)%></h1>
	<h3><%=venue.city%>, <%=venue.state%></h3>
<% if venue.family_friendly %>
	<p style='color:blue'>Family Friendly</p>
	<% else %>
	<p style='color:red'>Not Family Friendly</p>
	<% end %>

<hr>
<% end %>
</div>