<%= link_to "Add New Venue", new_venue_path %>

<% @venues.each do |venue| %>
	<h1><%= link_to venue.name, venue_path(venue.id)%></h1>
	<h3><%=venue.city%>, <%=venue.state%></h3>
<% if venue.family_friendly %>
	<p>Family Friendly? Yes</p>
	<% else %>
	<p>Family Friendly? Naw</p>
	<% end %>

<% end %>